<?xml version="1.0"?>
<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>
  <arg name="trajopt_description" default="trajopt_description"/>
  <arg name="plotting" default="true"/>
  <arg name="rviz" default="true"/>
  <arg name="testing" default="false"/>
  <arg name="steps" default="12"/>
  <arg name="box_size" default="0.01"/>
  <arg name="update_start_state" default="false"/>
  <arg name="use_continuous" default="false"/>

  <!-- Load universal robot description format (URDF) -->
  <let name="robot_description_file" value="$(command 'xacro $(find-pkg-share tesseract_support)/urdf/online_planning_example.xacro')" />

  <!-- The semantic description that corresponds to the URDF -->
  <let name="robot_description_semantic_file" value="$(command 'cat $(find-pkg-share tesseract_support)/urdf/online_planning_example.srdf')" />

  <group unless="$(var testing)">
    <!-- If needed, broadcast static tf for robot root -->
    <node pkg="tf2_ros" exec="static_transform_publisher" args="0 0 0 0 0 0 world base_link" />

    <node pkg="tesseract_ros_examples" exec="tesseract_ros_examples_online_planning_example_node" output="screen">
      <param name="plotting" type="bool" value="$(var plotting)"/>
      <param name="rviz" type="bool" value="$(var rviz)"/>
      <param name="steps" type="int" value="$(var steps)"/>
      <param name="box_size" type="float" value="$(var box_size)"/>
      <param name="update_start_state" type="bool" value="$(var update_start_state)"/>
      <param name="use_continuous" type="bool" value="$(var use_continuous)"/>
      <param name="$(var robot_description)" value="$(var robot_description_file)" type="str"/>
      <param name="$(var robot_description)_semantic" value="$(var robot_description_semantic_file)" type="str"/>
    </node>

    <!-- Launch visualization -->
    <node pkg="rviz2" exec="rviz2"
      args="-d $(find-pkg-share tesseract_ros_examples)/config/examples.rviz" output="screen">
      <param name="$(var robot_description)" value="$(var robot_description_file)" type="str"/>
      <param name="$(var robot_description)_semantic" value="$(var robot_description_semantic_file)" type="str"/>
    </node>

    <node pkg="joint_state_publisher_gui" exec="joint_state_publisher_gui" respawn="true">
      <param name="$(var robot_description)" value="$(var robot_description_file)" type="str"/>
    </node>
    <node pkg="robot_state_publisher" exec="robot_state_publisher" output="screen">
      <param name="$(var robot_description)" value="$(var robot_description_file)" type="str"/>
    </node>
  </group>
</launch>
