name: Ubuntu

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: '0 5 * * 6'
  workflow_dispatch:
  release:
    types:
      - released

jobs:
  industrial_ci:
    name: ${{ matrix.distro }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: focal
            distro: foxy
          - os: jammy
            distro: humble
          - os: jammy
            distro: rolling
    env:
      CCACHE_DIR: ${{ github.workspace }}/${{ matrix.distro }}/.ccache
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
      PUSH_DOCKER_IMAGE: ${{ github.ref == 'refs/heads/master' || github.event_name == 'release' }}
      TESSERACT_VERSION: '0.20'
    steps:
      - uses: actions/checkout@v1

      - name: Free Disk Space
        continue-on-error: true
        run: |
          sudo swapoff -a
          sudo rm -f /swapfile
          sudo apt clean
          docker rmi $(docker image ls -aq)
          df -h

      - name: Prepare ccache timestamp
        id: ccache_cache_timestamp
        shell: cmake -P {0}
        run: |
          string(TIMESTAMP current_date "%Y-%m-%d-%H;%M;%S" UTC)
          message("::set-output name=timestamp::${current_date}")

      - name: ccache cache files
        continue-on-error: true
        uses: actions/cache@v1.1.0
        with:
          path: ${{ env.CCACHE_DIR }}
          key: ${{ matrix.distro }}-ccache-${{ steps.ccache_cache_timestamp.outputs.timestamp }}
          restore-keys: |
            ${{ env.matrix.distro }}-ccache-

      - name: Login to Github container registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker meta-information
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          flavor: |
            latest=false
            prefix=
            suffix=
          tags: |
            type=ref,event=branch,prefix=${{ matrix.distro }}-
            type=semver,pattern={{major}}.{{minor}},prefix=${{ matrix.distro }}-

      - name: Set build type
        run: |
          if [[ "${{ env.PUSH_DOCKER_IMAGE }}" = true ]]
          then
            echo "BUILD_TYPE=Release" >> $GITHUB_ENV
          else
            echo "BUILD_TYPE=Debug" >> $GITHUB_ENV
          fi

      - uses: 'ros-industrial/industrial_ci@master'
        env:
          DOCKER_IMAGE: ghcr.io/tesseract-robotics/tesseract_planning:${{ matrix.os }}-${{ env.TESSERACT_VERSION }}
          ROS_DISTRO: ${{ matrix.distro }}
          BEFORE_INIT: 'apt install ros-${{ matrix.distro }}-ros-base -y -qq'
          BEFORE_INIT_EMBED: 'ici_with_unset_variables source /opt/ros/${{ matrix.distro }}/setup.bash'
          ROS_REPO: main
          UPSTREAM_WORKSPACE: '.github/workflows/dependencies.repos'
          ROSDEP_SKIP_KEYS: 'catkin taskflow fcl gz-common5 gz-math7 gz-rendering7 qt_advanced_docking'
          PARALLEL_TESTS: false
          NOT_TEST_BUILD: true
          UNDERLAY: /root/tesseract-robotics/tesseract_planning_target_ws/install
          PREFIX: ${{ github.repository }}_
          UPSTREAM_CMAKE_ARGS: '-DCMAKE_BUILD_TYPE=Release -DBUILD_RENDERING=OFF -DBUILD_STUDIO=OFF'
          TARGET_CMAKE_ARGS: '-DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }}'
          BEFORE_RUN_TARGET_TEST_EMBED: 'source /root/target_ws/install/local_setup.bash'
          AFTER_SCRIPT: 'rm -r $BASEDIR/${PREFIX}upstream_ws/build $BASEDIR/${PREFIX}target_ws/build'
          DOCKER_COMMIT: ${{ steps.meta.outputs.tags }}

      - name: Push post-build Docker
        if: ${{ env.PUSH_DOCKER_IMAGE == 'true' }}
        run: docker push ${{ steps.meta.outputs.tags }}
