name: Ubuntu

on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - 'tesseract**'
      - 'dependencies**'
      - '.github/workflows/ubuntu.yml'
  schedule:
    - cron: '0 5 * * *'
  workflow_dispatch:
  release:
    types:
      - released

jobs:
  get-tag:
    # Pre-job to fetch the latest tag
    runs-on: ubuntu-latest
    outputs:
      major: ${{ steps.extract_tag.outputs.major }}
      minor: ${{ steps.extract_tag.outputs.minor }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Ensure all history and tags are fetched

      - name: Get latest tag
        id: extract_tag
        run: |
          latest_tag=$(git describe --tags `git rev-list --tags --max-count=1`)
          echo "Latest tag: $latest_tag"

          # Extract major and minor version from the tag
          IFS='.' read -r major minor patch <<< "$latest_tag"
          echo "Major: $major"
          echo "Minor: $minor"

          # Set as output variables
          echo "::set-output name=major::$major"
          echo "::set-output name=minor::$minor"
  ci:
    name: ${{ matrix.distro }}
    needs: get-tag  # Make sure the 'ci' job waits for the 'get-tag' job to finish
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: jammy
            distro: humble
            vcs-file: .github/workflows/dependencies.repos
          - os: noble
            distro: jazzy
            vcs-file: .github/workflows/dependencies.repos
          - os: noble
            distro: rolling
            vcs-file: .github/workflows/dependencies.repos
    container:
      image: ghcr.io/tesseract-robotics/tesseract_qt:${{ matrix.os }}-${{ needs.get-tag.outputs.major }}.${{ needs.get-tag.outputs.minor }}
      env:
        CCACHE_DIR: ${{ github.workspace }}/${{ matrix.distro }}/.ccache
        DEBIAN_FRONTEND: noninteractive
        TZ: Etc/UTC
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          path: target_ws/src

      - name: Install Dependencies
        shell: bash
        run: |
          curl -sSL https://raw.githubusercontent.com/ros/rosdistro/master/ros.key -o /usr/share/keyrings/ros-archive-keyring.gpg
          echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/ros-archive-keyring.gpg] http://packages.ros.org/ros2/ubuntu $(. /etc/os-release && echo $UBUNTU_CODENAME) main" | tee /etc/apt/sources.list.d/ros2.list > /dev/null
          apt update -qq
          apt install -y ros-${{ matrix.distro }}-ros-base

      - name: Build and Tests
        uses: tesseract-robotics/colcon-action@v14
        with:
          before-script: source /opt/tesseract_qt/install/setup.bash && source /opt/ros/${{ matrix.distro }}/setup.bash
          ccache-prefix: ${{ matrix.distro }}
          vcs-file: ${{ matrix.vcs-file }}
          rosdep-install-args: -iry --skip-keys osqp-eigen
          target-path: target_ws/src
          target-args: --cmake-args -DCMAKE_BUILD_TYPE=Debug -DTESSERACT_ENABLE_TESTING=ON
