name: Unstable

on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - 'tesseract**'
      - '.github/workflows/unstable.yml'
  schedule:
    - cron: '0 5 * * *'
  workflow_dispatch:
  release:
    types:
      - released

jobs:
  ci:
    name: ${{ matrix.distro }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: focal
            distro: foxy
            vcs-file:
          - os: jammy
            distro: humble
            vcs-file: .github/workflows/dependencies.repos
          - os: jammy
            distro: rolling
            vcs-file: .github/workflows/dependencies.repos
    container:
      image: ghcr.io/tesseract-robotics/tesseract_qt:${{ matrix.os }}-master
      env:
        CCACHE_DIR: ${{ github.workspace }}/${{ matrix.distro }}/.ccache
        DEBIAN_FRONTEND: noninteractive
        TZ: Etc/UTC
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: target_ws/src

      - name: Install Dependencies
        shell: bash
        run: |
          curl -sSL https://raw.githubusercontent.com/ros/rosdistro/master/ros.key -o /usr/share/keyrings/ros-archive-keyring.gpg
          echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/ros-archive-keyring.gpg] http://packages.ros.org/ros2/ubuntu $(. /etc/os-release && echo $UBUNTU_CODENAME) main" | tee /etc/apt/sources.list.d/ros2.list > /dev/null
          apt update -qq
          apt install -y ros-${{ matrix.distro }}-ros-base

      - name: Build and Tests
        uses: tesseract-robotics/colcon-action@v5
        with:
          before-script: source /opt/tesseract_qt/install/setup.bash && source /opt/ros/${{ matrix.distro }}/setup.bash
          ccache-prefix: ${{ matrix.distro }}
          vcs-file: ${{ matrix.vcs-file }}
          target-path: target_ws/src
          target-args: --cmake-args -DCMAKE_BUILD_TYPE=Debug -DTESSERACT_ENABLE_TESTING=ON
